@media (max-width: 768px) {
  .hammenu {
    display: flex;
  }
  nav {
    top: 0.4em;
  }
  nav .left,
  nav .right {
    display: none;
    gap: 1.5em;
    flex-direction: column;
    font-size: 0.7em;
  }

  nav .middle {
    font-size: 2.8em;
    letter-spacing: -0.1em;
    text-align: center;
  }

  .slide1 {
    height: 80vh;
    flex-direction: column;
    padding: 1em;
    margin: 2em 0;

    .img3 {
      height: 15em;
      width: 15em;
      top: -55%;
      left: 30%;
    }
    .img2 {
      height: 15em;
      width: 15em;
      top: 15%;
      left: 40%;
    }
    .img1 {
      height: 12em;
      width: 12em;
      top: -20%;
      left: 50%;
      transform: rotate(20deg);
    }
  }

  .slide1 h1 {
    font-size: 2.5em;
    width: 70%;
  }

  .slide1 h5 {
    font-size: 0.7em;
    width: 100%;
    position: absolute;
    top: 33%;
    width: 12em;
    color: rgba(0, 0, 0, 0.3);
  }

  .slide1 img {
    position: relative;
    height: 10em;
    width: 10em;
  }

  .slide1 button {
    padding: 0.7em 0.5em;
    word-break: break-all;
    font-size: 1em;
    letter-spacing: 0.2em;
  }

  .home-content .page1 {
    .page1display {
      .candy1 {
        top: 30%;
        left: 15%;
      }
      .candy2 {
        top: 35%;
        left: 40%;
      }
      .content {
        width: 90%;
        p {
          font-size: 0.9em;
        }
      }
    }
  }

  .home-content .view1 {
    .page2,
    .page3 {
      height: 90vh;
    }

    .page2 .page2display {
      .obj1 {
        margin-top: 1.25rem;
        top: 20em;
        left: 3em;
        visibility: hidden;
      }
      .obj2 {
        margin-top: 1.25rem;
        top: 20em;
        left: 12em;
      }
      .centerImg {
        top: -4em;
      }
    }

    .page3 .page3display {
      .obj1 {
        top: 50%;
        left: 45%;
      }
    }
    .page1 .page1display .content,
    .page2 .page2display p,
    .page3 .page3display p {
      width: 90%;
    }
  }

  .view2 {
    height: 200vh;
  }

  .view2 h5 {
    font-size: 4em;
    transform: translate(20em, -20em) rotate(-30deg); /* Changed initial position */
    transition: transform 0.5s ease-out;
    will-change: transform;
  }

  .view2 article .product {
    width: 100%;
    margin-bottom: 2em;
  }

  .view3 {
    height: 50vh;

    .imgs {
      flex-direction: column;
      align-items: start;
      gap: 4em;
      justify-content: start;

      .img {
        height: 1em;
        width: 100%;

        img {
          height: 12em;
          width: 100%;
          object-fit: cover;
        }
      }
    }
  }

  .view3 h3 {
    font-size: 2em;
    letter-spacing: 0.2em;
  }

  .view4 h2 {
    font-size: 2em;
    letter-spacing: 0.3em;
  }

  .view4 .canvas-box {
    flex: 0 0 100%;
    max-width: 70%;
  }

  .view5 {
    height: 90vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 1em;
    gap: 12em;

    .can1 {
      left: -18%;
    }
    .can2 {
      left: -4%;
    }
    .can3 {
      left: 15%;
    }
    .can4 {
      left: 35%;
    }
  }

  .view5 .left,
  .view5 .right {
    width: 100%;
    position: relative;
  }

  .view5 .right {
    display: flex;
    justify-content: center;
    margin-top: 10em;
  }

  .view5 img {
    position: relative;
    width: 10em;
    height: 10em;
    margin: 0.5em auto;
  }

  footer .top {
    grid-template-columns: 1fr;
    gap: 1em;
    font-size: 1em;
  }

  footer .bottom h3 {
    font-size: 1.5em;
  }

  footer .bottom input {
    width: 100%;
  }

  footer .user-stuff {
    flex-direction: column-reverse;
    align-items: flex-start;
    gap: 2em;
  }

  footer .user-stuff .links {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5em;
  }
}

@media (min-height: 900px) {
  .home-content .view1 {
    .page2,
    .page3 {
      height: 90vh;
    }

    .page2 .page2display {
      .obj1 {
        margin-top: 1.25rem;
        top: 20em;
        left: 3em;
        visibility: hidden;
      }
      .obj2 {
        margin-top: 15rem;
        top: 15em;
        left: 15em;
        position: absolute;
      }
      .centerImg {
        top: -4em;
      }
    }

    .page3 .page3display {
      .obj1 {
        top: 55%;
        left: 45%;
      }
    }
    .page1 .page1display .content,
    .page2 .page2display p,
    .page3 .page3display p {
      width: 90%;
    }
  }
}
