@import url("https://fonts.googleapis.com/css2?family=Lexend+Zetta:wght@100..900&family=Outfit:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Lexend+Zetta:wght@100..900&family=Outfit:wght@100..900&display=swap");


@font-face {
  font-family: 'normalized';
  src: url('../../../public/NormalidadCompact-Regular.ttf');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100%;
    width: 100%;
    font-family: 'normalized', sans-serif;
}

